################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MapGenerator/.vs/MapGenerator/v15
/MapGenerator/obj
/MapGenerator/bin/Debug
/MapGenerator/.vs/MapGenerator/v16/Server/sqlite3/storage.ide-wal
/MapGenerator/.vs/MapGenerator/v16/Server/sqlite3/storage.ide-shm
/MapGenerator/.vs/MapGenerator/v16/Server/sqlite3/storage.ide
/MapGenerator/.vs/MapGenerator/v16/Server/sqlite3/db.lock
/MapGenerator/.vs/MapGenerator/v16/Server/sqlite3
/MapGenerator/.vs/MapGenerator/v16/.suo
/MapGenerator/.vs/MapGenerator/v16
